//====================================================================================================
.header {
		// .header__content
		&__content {
		}
		// .header__menu
		&__menu {
      min-height: 88px;
      display: flex;
      align-items: center;
      @media (max-width: $md3+px) {
        justify-content: space-between;
      }
		}
}

.menu {
		// .menu__logo
		&__logo {
      flex: 0 0 109 / $maxWidthContainer * 100%;
      min-width: 74px;
      height: 50px;
      @include adaptiv-value(margin-right, 82, 20, 0);
      background: url(../img/icons/logo.svg) no-repeat 50% 50% / contain;
		}
		// .menu__nav
		&__nav {
      flex: 0 0 450 / $maxWidthContainer * 100%;
      margin-right: auto;
      padding-right: 10px;
      @media (max-width: $md2+px) {
        flex: 0 0 65%;
      }
      @media (max-width: $md3+px) {
        display: none;
      }
		}
		// .menu__list
		&__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
		}
		// .menu__item
		&__item {
      padding: 0 10px;
		}
		// .menu__link
		&__link {
      font-weight: 600;
      color: $mainColor;
		}
    // .menu__info-wrapper
    &__info-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 1 378px;
      @media (max-width: $md2+px) {
        flex: 0 0 auto;
      }
      @media (max-width: $md3+px) {
        flex: 1 0 auto;
      }
    }
		// .menu__price-wrapper
		&__price-wrapper {
		}
    &__price {
    }
		// .menu__lang-dropdown
		&__lang-dropdown {
      @media (max-width: $md2+px) {
        display: none;
      }
		}
		// .menu__info
		&__info {
      @media (max-width: $md2+px) {
        display: none;
      }
		}
		// .menu__btn-menu
		&__btn-menu {
      @media (min-width: $md3+px) {
        display: none;
      }
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      & button {
        margin-right: 10px;
      }
      & label {
        font-weight: 600;
      }
		}
}
.lang-dropdown {
		// .lang-dropdown__btn
		&__btn {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      &::after {
        font-size: 4px;
        margin-left: 6px;
      }
		}
		// .lang-dropdown__list
		&__list {
      display: none;
		}
		// .lang-dropdown__item
		&__item {
		}
		// .lang-dropdown__link
		&__link {
      color: $mainColor;
			// .lang-dropdown__link_ua
			&_ua {
			}
			// .lang-dropdown__link_ru
			&_ru {
			}
		}
}
.menu-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
		// .menu-info__link
		&__link {
      color: $mainColor;
			// .menu-info__link_call
			&_call {
        // margin-bottom: 5px;
        @include adaptiv-font(20, 16, 1);
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0.04em;
			}
			// .menu-info__link_location
			&_location {
        font-size: 14px;
        line-height: 14px;
			}
		}
}

//====================================================================================================
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
    position: relative;
		// position: absolute;
		// top: 18px;
		// right: 10px;
		width: 15px;
		height: 8px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: -1px;
			}
			&:last-child {
				top: auto;
				bottom: -1px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
