@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
  &:after {
    @extend %ic;
		display: block;
  }
}

._icon-uah:after {
  content: "\e90b";
  display: inline-flex;
  justify-content: center;
  padding-left: 10px;
  font-size: 20.55px;
}
._icon-arrow_down:before {
  content: "\e900";
}
._icon-arrow_down-after:after {
  content: "\e900";
}
._icon-arrow_gallery:before {
  content: "\e901";
}
._icon-arrow_detailed:before {
  content: "\e902";
}
._icon-arrow_detailed-after:after {
  content: "\e902";
}
._icon-arrow_paggination:before {
  content: "\e903";
}
._icon-close:before {
  content: "\e904";
}
._icon-facebook:before {
  content: "\e905";
}
._icon-instagram:before {
  content: "\e906";
}
._icon-phone:before {
  content: "\e907";
}
._icon-price:before {
  content: "\e908";
}
._icon-price-s:before {
  content: "\e90a";
}
._icon-S-logo:before {
  content: "\e909";
}