//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "ProximaNova";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #1c1c1c;
$accentColor: #8b0304;
$additionalColor: #5b5d62;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: $md3+px) {
    padding: 0 8px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
@import "lightgallery";
@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "popup";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>=======================================================================
.page {
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    padding-top: 74px;
  }
}
._bg-gray {
  background: #F8F9FB;
}
//======================================================================================
.main-slider {
  & h1 {

  }
		// .main-slider__content
		&__content {
      display: flex;
      justify-content: flex-end;
      @media (max-width: $md3+px) {
        display: block;
        padding-bottom: 15px;
      }
		}
		// .main-slider__text-slider
		&__text-slider {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 15px 60px 23px 145px;
      @media (max-width: $md1+px) {
        padding: 15px 30px 23px 70px;
      }
      @media (max-width: $md3+px) {
        flex-direction: column;
        padding: 0px 8px ;
      }
      & .swiper-wrapper {
        align-items: center;
        @media (max-width: $md3+px) {
          order: 1;
          align-items: flex-start;
        }
      }
      & .swiper-slide {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease 0s, visibility 1s ease 0s;
        &-active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    // .main-slider__pagination
		&__pagination {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 38px;
      height: 5px;
      @media (max-width: $md3+px) {
        flex-direction: row;
        order: 0;
        margin: 0 auto 30px;
      }
      & .swiper-pagination-bullet {
        display: inline-block;
        background-color: #C0C4CC;
        border-radius: 50%;
        height: 100%;
        width: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
        &-active {
          background-color: $mainColor;
        }
      }
    }
		// .main-slider__textarea
		&__textarea {
      display: flex;
      flex-direction: column;
      @include adaptiv-value("gap", 20, 10, 1);
      @include adaptiv-value("margin-bottom", 40, 25, 1);
		}
		// .main-slider__limited
		&__limited {
      font-weight: 600;
      @include adaptiv-font(24, 16, 1);
      line-height: 29 / 24 * 100%;
      color: $accentColor;
		}
		// .main-slider__addinfo
		&__addinfo {
      margin-bottom: 10px;
      @include adaptiv-font(16, 14, 1);
      line-height: 24 / 16 * 100%;
      color: $additionalColor;
		}
		// .main-slider__btn
		&__btn {
      margin-bottom: 23px;
      padding: 19px 60px;
      @media (max-width: $md3+px) {
        width: 100%;
        margin: 0;
      }
		}
		// .main-slider__img-slider
		&__img-slider {
      flex: 0 0 685 / $maxWidth * 100%;
      @media (max-width: $md3+px) {
        margin-bottom: 10px;
      }
      &::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: url(../img/main-content/bg-1.svg) no-repeat top left / auto;
        @media (max-width: $md3+px) {
          background-image: url(../img/main-content/bg_mobile-1.svg);
        }
      }
      &::after {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: url(../img/main-content/bg-2.svg) no-repeat bottom right / auto;
        @media (max-width: $md3+px) {
          background-image: url(../img/main-content/bg_mobile-2.svg);
        }
      }
		}
		// .main-slider__img-wrapper
		&__img-wrapper {
      padding-top: 63.213%;
      @media (max-width: $md3+px) {
        padding-top: 50%;
      }
      @media (max-width: $md4+px) {
        padding-top: 63.213%;
      }
  }
}
//======================================================================================
.catalog-nav {
  // .catalog-nav__nav
  &__nav {
    @include adaptiv-value("padding-top", 20, 10, 1);
    @include adaptiv-value("padding-bottom", 25, 15, 1);
  }
  // .catalog-nav__list
  &__list {
    display: grid;
    @include adaptiv-value("grid-auto-rows", 88, 63, 1);
    grid-template-columns: 255px 255px 255px 255px;
    @include adaptiv-value("grid-column-gap", 30, 0, 1);
    @media (max-width: $md1+px) {
      grid-template-columns: 1fr 1fr;
      @include adaptiv-value("grid-row-gap", 30, 5, 1);
    }
    @media (max-width: $md4+px) {
      grid-template-columns: 1fr;
    }
  }
  // .catalog-nav__item
  &__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 15px 0px 80px;
    font-weight: 600;
    @include adaptiv-font(16, 14, 1);
    line-height: 18 / 16 * 100%;
    color: $mainColor;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 15px 50%;
    @include adaptiv-value("background-size", 49, 39, 1);
    &._active {
      &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 3px;
      background-color: $accentColor;
      opacity: 1;
      }
    }
    &_1 {
      background-image: url(../img/categories/Vibro-pressed-tiles.svg);
    }
    &_2 {
      background-image: url(../img/categories/Vibrating-tile.svg);
    }
    &_3 {
      background-image: url(../img/categories/Concrete-products.svg);
    }
    &_4 {
      background-image: url(../img/categories/Concrete-curbs.svg);
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 3px;
      background-color: $accentColor;
      opacity: 0;
      transition: opacity 0.3s ease 0s;
    }
  }
  &__link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
//======================================================================================
.popular {
  & h2 {
    flex: 1 1 auto;
  }
  padding: 25px 0px;
		// .popular__content
		&__content {
      display: flex;
      flex-wrap: wrap;
		}
		// .popular__navigation
		&__navigation {
      flex: 0 0 95px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $md3+px) {
        order: 2;
        margin: 0 auto;
        flex: 0 0 105px;
      }
		}
    // .popular__arrow
    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: #fff;
          background-color: $accentColor;
        }
      }
      
      &::before {
        display: inline-block;
        font-size: 12px;
      }
      &_l {
      }
      &_r {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
		// .popular__swiper
		&__swiper {
      flex: 0 0 100%;
      overflow: hidden;
      @media (max-width: $md3+px) {
        order: 1;
        margin-bottom: 20px;
      }
		}
		// .popular__swiper-wrapper
		&__swiper-wrapper {
      display: flex;
		}
		// .popular__item
		&__item {
      // flex: 0 0 25%;
      display: flex;
      flex-direction: column;
      position: relative;
      min-width: 148px;
      min-height: 285px;
      padding: 8px 8px 20px 8px;
      background-color: #fff;
      color: $mainColor;
      @media (any-hover: hover) {
        &:hover .item-popular__btn {
          background-color: #fff;
          color: $accentColor;
          border: 1px solid $accentColor;
        }
      }
      @media (max-width: $md3+px) {
        padding: 5px 5px 10px 5px;
      }
		}
}

.item-popular {
		// .item-popular__img-wrapper
		&__img-wrapper {
      padding-top: 100%;
      margin-bottom: 10px;
		}
		// .item-popular__description-block
		&__description-block {
      display: inline-flex;
      flex-direction: column;
		}
		// .item-popular__category
		&__category {
      display: inline-block;
      margin-bottom: 10px;
      @include adaptiv-font(10, 8, 1);
      line-height: 10px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $accentColor;
		}
		// .item-popular__title
		&__title {
      overflow: hidden;
      word-break: break-word;
      margin-bottom: 65px;
		}
		// .item-popular__price-wrapper
		&__price-wrapper {
      position: absolute;
      @include adaptiv-value("bottom", 20, 10, 1);
      @include adaptiv-value("left", 15, 8, 1);
      display: flex;
      flex-direction: column;
      @include adaptiv-value("padding-right", 80, 45, 1);
      @include adaptiv-font(28, 24, 1);
      line-height: 28 / 28 * 100%;
      white-space: nowrap;
		}
    // .item-popular__price
		&__price {
      display: inline-flex;
      align-items: center;
      &::after {
        @include adaptiv-value("padding-left", 13, 5, 1);
        @include adaptiv-font(19, 16.5, 1);
      }
    }
		// .item-popular__meter
		&__meter {
      @include adaptiv-value("padding-top", 5, 2, 1);
      @include adaptiv-font(12, 10, 1);
      line-height: 12px;
      color: $additionalColor;
		}
		// .item-popular__btn
		&__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      @include adaptiv-value("bottom", 21, 15, 1);
      @include adaptiv-value("right", 16, 10, 1);
      @include adaptiv-value("width", 43, 32, 1);
      @include adaptiv-value("height", 43, 32, 1);
      color: #fff;
      background-color: $accentColor;
      border: 1px solid $accentColor;
      transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
      &::before {
        display: inline-block;
        font-size: 10px;
      }
		}
}
//======================================================================================
.main-services {
  padding-top: 25px;
  @include adaptiv-value("padding-bottom", 45, 15, 1);
		// .main-services__content
		&__content {
		}
		// .main-services__title
		&__title {
		}
		// .main-services__row
		&__row {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (min-width: $md3+px) {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
      }
		}
		// .main-services__item
		&__item {
      @media (min-width: $md3+px) {
        flex: 0 1 33.333%;
        max-width: 350px;
      }
      display: flex;
      flex-direction: column;
      @include adaptiv-value("padding-top", 10, 5, 1);
      @include adaptiv-value("padding-right", 10, 5, 1);
      @include adaptiv-value("padding-left", 10, 5, 1);
      @include adaptiv-value("padding-bottom", 25, 20, 1);
      background-color: #fff;
		}
}

.item-services {
		// .item-services__img-wrapper
		&__img-wrapper {
      padding-top: 45.455%;
      margin-bottom: 25px;
      @media (max-width: $md3+px) {
        margin-bottom: 30px;
      }
		}
		// .item-services__textarea
		&__textarea {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
		}
		// .item-services__title
		&__title {
      margin-bottom: 10px;
      @media (min-width: $md3+px) {
        padding-right: 20px;
      }
		}
		// .item-services__text
		&__text {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 22px;
		}
		// .item-services__link
		&__link {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin-top: auto;
      width: fit-content;
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $accentColor;
      @media (any-hover: hover) {
        &:hover {
          &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 1px;
            background-color: $accentColor;
          }
        }
      }
      &::after {
        padding-left: 8px;
        font-size: 8.5px;
      }
		}
}
//======================================================================================
.consultation {
  @include adaptiv-value("padding-top", 45, 15, 1);
  @include adaptiv-value("padding-bottom", 90, 50, 1);
		// .consultation__content
		&__content {
		}
		// .consultation__wrapper
		&__wrapper {
      @include adaptiv-value("padding-top", 60, 10, 1);
      @include adaptiv-value("padding-left", 65, 10, 1);
      @include adaptiv-value("padding-right", 65, 10, 1);
      @include adaptiv-value("padding-bottom", 35, 30, 1);
      background: #fff;
      border: 2px solid #8B0304;
      @media (max-width: $md4+px) {
        border-width: 1px;
      }
		}
		// .consultation__title
		&__title {
      margin-bottom: 55px;
		}
		// .consultation__list
		&__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // display: flex;
      @include adaptiv-value("gap", 40, 25, 1);
      @include adaptiv-value("margin-bottom", 55, 40, 1);
      @media (max-width: $md3+px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
      }
		}
		// .consultation__item
		&__item {
      @include adaptiv-value("padding-top", 80, 55, 1);
      text-align: center;
      @include adaptiv-font(16, 12, 1);
      line-height: 22 / 16 * 100%;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      background-size: auto;
      &_1 {
        background-image: url(../img/consultation/icon3.svg);
        @media (max-width: $md4+px) {
          background-image: url(../img/consultation/icon3_small.svg);
        }
      }
      &_2 {
        background-image: url(../img/consultation/icon1.svg);
        @media (max-width: $md4+px) {
          background-image: url(../img/consultation/icon1_small.svg);
        }
      }
      &_3 {
        background-image: url(../img/consultation/icon2.svg);
        @media (max-width: $md4+px) {
          background-image: url(../img/consultation/icon2_small.svg);
        }
      }
      &_4 {
        background-image: url(../img/consultation/icon4.svg);
        @media (max-width: $md4+px) {
          background-size: 45px;
        }
      }
		}
		// .consultation__call-wrapper
		&__call-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiv-value("gap", 80, 20, 1);
      @include adaptiv-value("padding-top", 55, 20, 1);
      @include adaptiv-value("padding-bottom", 80, 30, 1);
      @media (max-width: 488+px) {
        flex-direction: column;
      }
		}
		// .consultation__call-now
		&__call-now {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      @include adaptiv-font(24, 20, 1);
      line-height: 24px;
      & span {
        font-weight: 400;
        @include adaptiv-font(16, 14, 1);
        line-height: 16px;
        @media (max-width: $md3+px) {
          line-height: 22px;
        }
      }
      @media (max-width: 488+px) {
        text-align: center;
      }
		}
    // .consultation__number
    &__number {
      display: flex;
      align-items: center;
      @include adaptiv-value("gap", 24, 12.4, 1);
      @media (any-hover: hover) {
        &:hover > span {
            text-decoration: underline;
        }
      }
    }
		// .consultation__text
		&__text {
      text-align: center;
      @include adaptiv-font(14, 12, 1);
      line-height: 18 / 14 * 100%;
      color: $additionalColor;
		}
}
//======================================================================================
.video-container {
  // margin: 0 -8px -16px;
  @media (max-width: $md4+px) {
    margin: 0 8px;
  }
}
//======================================================================================
.form-section {
  @include adaptiv-value("padding-top", 90, 50, 1);
  @include adaptiv-value("padding-bottom", 90, 42, 1);
		// .form-section__content
		&__content {
		}
    // .form-section__body
		&__body {
      @include adaptiv-value("padding-top", 60, 30, 1);
      @include adaptiv-value("padding-bottom", 60, 30, 1);
      @include adaptiv-value("padding-left", 62, 15, 1);
      @include adaptiv-value("padding-right", 65, 15, 1);
      background: #fff url(../img/form-section-bg.png) no-repeat bottom right / contain;
      border: 2px solid #CFD5E1;
      @media (max-width: $md2+px) {
        background-image: url(../img/form-section-bg_320.png);
        background-position-y: 18.5vh !important;
      }
      @media (max-width: $md4+px) {
        background-position-y: 25.5vh !important;
        background-position-x: 7.5vw !important;
      }
		}
		// .form-section__title
		&__title {
      margin-bottom: 10px;
      text-align: left;
		}
		// .form-section__sub-title
		&__sub-title {
      @include adaptiv-value("margin-bottom", 40, 30, 1);
      @include adaptiv-font(20, 14, 1);
      @include adaptiv-value("line-height", 20, 18, 1);
		}
		// .form-section__form
		&__form {
      display: flex;
      flex-direction: column;
      @media (min-width: $md2+px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: none;
      }
      @media (max-width: $md2+px) {
        max-width: 50%;
        margin: 0 auto;
      }
      @media (max-width: $md3+px) {
        max-width: none;
      }
		}
		// .form-section__form-line
		&__form-line {
      @media (min-width: $md2+px) {
        flex: 0 0 350 / 980 * 100%;
      }
      @media (max-width: $md2+px) {
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 20px;
        }
      }
		}
		// .form-section__btn
		&__btn {
      @media (min-width: $md2+px) {
        flex: 0 0 220 / 980 * 100%;
      }
		}
}
//======================================================================================
.main-info {
		// .main-info__content
		&__content {
      background-color: #fff;
		}
		// .main-info__head-content
		&__head-content {
      @include adaptiv-value("padding-top", 40, 30, 1);
      @include adaptiv-value("padding-right", 88, 0, 1);
      @include adaptiv-value("padding-bottom", 40, 30, 1);
      @include adaptiv-value("padding-left", 40, 0, 1);
		}
		// .main-info__row
		&__row {
      display: flex;
      align-items: center;
			// .main-info__row_1
			&_1 {
        gap: 25px;
        align-items: center;
        @include adaptiv-value("margin-bottom", 13, 10, 1);
        @media (max-width: $md4+px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 21px;
        }
			}
			// .main-info__row_2
			&_2 {
        flex: 0 1 auto;
        justify-content: space-between;
        @media (max-width: $md3+px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }
			}
		}
		// .main-info__logo
		&__logo {
      min-width: 76px;
      height: 35px;
      background: url(../img/icons/logo.svg) no-repeat 50% 50% / contain;
		}
		// .main-info__title
		&__title {
		}
		// .main-info__address
		&__address {
      @include adaptiv-font(20, 16, 1);
      @include adaptiv-value("line-height", 20, 19, 1);
      color: $accentColor;
      white-space: nowrap;
      @media (max-width: $md3+px) {
        margin-bottom: 30px;
      }
		}
		// .main-info__schedule
		&__schedule {
      @extend .info-footer__schedule;
      position: inherit !important;
      @media (max-width: $md4+px) {
        margin: 0;
      }
		}
		// .main-info__map
		&__map {
      position: relative;
      overflow: hidden;
      height: 0;
      min-height: 211px;
      padding-top: 23.715%;
      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: cover;
      }
		}
		// .main-info__body-content
		&__body-content {
      @include adaptiv-value("padding-top", 80, 40, 1);
      @include adaptiv-value("padding-right", 105, 0, 1);
      @include adaptiv-value("padding-bottom", 100, 65, 1);
      @include adaptiv-value("padding-left", 55, 0, 1);
      & p {
        @include adaptiv-font(16, 11, 1);
        @include adaptiv-value("line-height", 24, 16, 1);
        color: $additionalColor;
        &:not(:last-child) {
          @include adaptiv-value("margin-bottom", 40, 30, 1);
        }
      }
		}
		// .main-info__text-title
		&__text-title {
      display: inline-block;
      @include adaptiv-value("margin-bottom", 20, 15, 1);
      font-size: 20px;
      line-height: 20px;
		}
}
//</ОСНОВНОЙ БЛОК>======================================================================
//<КАТАЛОГ>============================================================================
.catalog {
		// .catalog__breadcrumbs
		&__breadcrumbs {
		}

  & h2 {
    @include adaptiv-value("padding-top", 5, 10, 1);
    @include adaptiv-font(20, 16, 1);
    @include adaptiv-value("line-height", 32, 19, 1);
    font-weight: 700;
  }
  & .catalog-nav__nav {
    @media (max-width: $md4+px) {
      display: none;
    }
  }
  & .catalog-nav__select {
    @media (min-width: $md4+px) {
      display: none;
    }
  }
}
.catal {
		// .catal__content
		&__content {
		}
		& h1 {
      @extend ._h2;
		}
		// .catal__body
		&__body {
		}
}
.body-catal {
		// .body-catal__item-wrapper
		&__item-wrapper {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(4, 1fr);
      @include adaptiv-value("gap", 30, 8, 1);
      @media (max-width: $md3+px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $md4+px) {
        grid-template-columns: repeat(2, 1fr);
      }
		}
		// .body-catal__item
		&__item {
      @extend .popular__item;
		}
		// .body-catal__pagination
		&__pagination {
		}
}
//</КАТАЛОГ>===========================================================================

//<КОНТАКТЫ>===========================================================================
.contacts {
  & .main-info__map {
    @media (max-width: $md4+px) {
      padding-top: 134.375%;
    }
  }
}
.contacts-section {
  & h1 {
    @include adaptiv-value("margin-bottom", 40, 25, 1);
  }
		// .contacts-section__address-title
		&__address-title {
      display: block;
      @include adaptiv-value("margin-bottom", 20, 10, 1);
      @include adaptiv-font(28, 24, 1);
      @include adaptiv-value("line-height", 28, 29, 1);
		}
		// .contacts-section__address
		&__address {
      display: block;
      @include adaptiv-value("margin-bottom", 40, 25, 1);
      color: $accentColor;
		}
		// .contacts-section__row
		&__row {
      @include adaptiv-value("margin-bottom", 70, 20, 1);
      display: flex;
      @include adaptiv-value("gap", 120, 0, 1);
      @media (max-width: $md3+px) {
        flex-direction: column;
        gap: 20px;
      }
		}
		// .contacts-section__img-wrapper
		&__img-wrapper {
      flex: 0 1 545px;
      padding-top: 24.325%;
      @media (max-width: $md3+px) {
        flex: 0 0;
        padding-top: 49.675%;
      }
		}
		// .contacts-section__contacts-block
		&__contacts-block {
      display: inline-flex;
      flex-direction: column;
      @media (max-width: $md3+px) {
        padding-top: 30px;
      }
		}
}
.block-contacts {
		// .block-contacts__title
		&__title {
      display: inline-flex;
      align-items: center;
      @include adaptiv-value("margin-bottom", 25, 30, 1);
      font-weight: 600;
      @include adaptiv-font(24, 20, 1);
		}
		// .block-contacts__number
		&__number {
      width: fit-content;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: $additionalColor;
      &:first-of-type {
        @include adaptiv-value("margin-bottom", 15, 10, 1);
      }
      &:hover {
        text-decoration: underline;
      }
		}
    // .block-contacts__mail-label
    &__mail-label {
      color: $additionalColor;
    }
		// .block-contacts__mail
		&__mail {
      margin: 30px 0 35px;
      @media (max-width: $md3+px) {
        margin-bottom: 50px;
      }
      & a {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-decoration: underline;
        color: $mainColor;
      }
		}
    // .block-contacts__btn
    &__btn {
      max-width: 327px;
      padding: 24px 0 24px;
      @media (max-width: $md3+px) {
        display: none;
      }
    }
}
.schedule-section {
  padding-top: 40px;
  @include adaptiv-value("margin-bottom", 65, 0, 1);
  display: inline-flex;
  align-items: center;
  gap: 40px;
  @media (max-width: $md3+px) {
  padding: 0;
  }
    @media (max-width: $md3+px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
		// .schedule-section__title
		&__title {
      font-weight: 600;
      @include adaptiv-font(24, 16, 1);
      @include adaptiv-value("line-height", 24, 19, 1);
		}
		// .schedule-section__schedule
		&__schedule {
      @extend .info-footer__schedule;
      position: inherit !important;
      margin: 0 !important;
		}
		// .schedule-section__weekend
		&__weekend {
      margin: 0 !important;
      color: $accentColor;
		}
}
//</КОНТАКТЫ>==========================================================================

//<УСЛУГИ>=============================================================================
.services {
  & h1 {
    z-index: 1;
    flex: 0 1 540 / 1110 * 100%;
    display: flex;
    align-items: center;
    @include adaptiv-font(48, 20, 1);
    @include adaptiv-value("line-height", 48, 24, 1);
    @include adaptiv-value("padding-top", 59, 0, 1);
    @include adaptiv-value("padding-bottom", 138, 0, 1);
    color: #fff;
    @media (max-width: $md4+px) {
      color: $mainColor;
      padding: 0;
      margin-bottom: 10px;
    }
  }
  & h2 {
    margin-top: 32px;
  }
		// .services__block
		&__block {
      background-color: #fff;
      @include adaptiv-value("padding-bottom", 93, 28, 1);
      @media (max-width: $md4+px) {
          margin: 0 -8px;
          background-color: #F8F9FB;
        }
		}
		// .services__header
		&__header {
      position: relative;
      display: flex;
      @include adaptiv-value("gap", 60, 0, 1);
      margin-bottom: 40px;
      &::before {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 79.865%;
        background: $accentColor;
        @media (min-width: $md4+px) {
          background: $accentColor url(../img/services/services-bg-lines.svg) no-repeat right / auto;
        }
      }
		}
		// .services__header-img-wrapper
		&__header-img-wrapper {
      flex: 0 0 439 / 1110 * 100%;
      padding-top: 26.397%;
      @media (max-width: $md4+px) {
        &_laying {
          flex: 0 0 95%;
          padding-top: 60%;
        }
        &_production {
          flex: 0 0 85%;
          padding-top: 53.75%;
        }
        &_delivery {
          flex: 0 0 100%;
          padding-top: 61.25%;
        }
        &_departure {
          flex: 0 0 71%;
          padding-top: 53.44%;
        }
      }
		}
		// .services__body
		&__body {
      @include adaptiv-value("padding-right", 95, 0, 1);
      @include adaptiv-value("padding-left", 95, 0, 1);
      @media (max-width: $md4+px) {
        padding: 0 8px;
      }
      & p {
        font-size: 16px;
        line-height: 24px;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
        @media (max-width: $md4+px) {
          color: $additionalColor;
        }
      }
      & > div {
        @include adaptiv-value("padding-right", 95, 0, 1);
        @include adaptiv-value("padding-left", 62, 0, 1);
      & p {
        position: relative;
        @include adaptiv-value("padding-left", 27, 23, 1);
        &::before {
          content: '';
          position: absolute;
          top: 5px;
          left: 0px;
          width: 6px;
          height: 90%;
          background-color: $accentColor;
          @media (max-width: $md4+px) {
            top: -5px;
            height: 95%;
            }
          }
        }
      }
      & picture {
        @extend ._ibg;
        display: block;
        padding-top: 48.37%;
        margin-top: 93px;
        @include adaptiv-value("margin-top", 93, 23, 1);
        @include adaptiv-value("margin-bottom", 70, 50, 1);
      }
		}
}
//</УСЛУГИ>============================================================================

//<ПОРТФОЛИО>==========================================================================
.portfolio {
  & h1 {
    @include adaptiv-value("margin-top", 30, 10, 1);
    margin-bottom: 20px;
  }
		// .portfolio__content
		&__content {
		}
		// .portfolio__list
		&__list {
      display: flex;
      align-items: center;
      @include adaptiv-value("margin-bottom", 35, 20, 1);
      @include adaptiv-value("padding-left", 52.5, 12.5, 1);
      @include adaptiv-value("padding-right", 52.5, 12.5, 1);
      background-color: #fff;
      overflow: auto;
      white-space: nowrap;
		}
		// .portfolio__item
		&__item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @include adaptiv-value("height", 57, 47, 1);
      &:not(:last-child) {margin: 0px 15px 0px 0px;}
      padding: 0 12.5px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: $additionalColor;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        color: $mainColor;
      }
      &._active {
        color: $mainColor;
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          transform: translateY(-3px);
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $accentColor;
        }
      }
		}
		// .portfolio__img-block-area
		&__img-block-area {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include adaptiv-value("gap", 30, 10, 1);
      @media (max-width: $md2+px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $md4+px) {
        grid-template-columns: repeat(2, 1fr);
      }
		}
		// .portfolio__img-block
		&__img-block {
      padding-top: 100%;
		}
}
//</ПОРТФОЛИО>=========================================================================

//<ПРОДУКТ>============================================================================
.product {
  & .form-section {
    padding-top: 25px;
  }
		// .product__content
		&__content {
      margin-bottom: 65px;
		}
		// .product__body
		&__body {
      display: flex;
      @include adaptiv-value("gap", 95, 0, 1);
      @include adaptiv-value("margin-bottom", 30, 20, 1);
      @include adaptiv-value("padding-top", 50, 5, 1);
      @include adaptiv-value("padding-left", 64, 0, 1);
      @include adaptiv-value("padding-right", 64, 0, 1);
      @include adaptiv-value("padding-bottom", 60, 15, 1);
      // padding: 50px 64px 60px;
      background-color: #fff;
      @media (max-width: $md2+px) {
        flex-direction: column;
      }
      @media (max-width: $md4+px) {
        margin: 0 -8px 20px;
        padding: 5px 8px 15px;
      }
		}
		// .product__column
		&__column {
      display: flex;
      flex-direction: column;
			// .product__column_l
			&_l {
        flex: 0 1 411 / 981 * 100%;
			}
			// .product__column_r
			&_r {
        flex: 0 1 475 / 981 * 100%;
        justify-content: flex-end;
        & h1 {
          @include adaptiv-value("margin-bottom", 20, 15, 1);
          font-weight: 600;
          @include adaptiv-font(36, 28, 1);
          @include adaptiv-value("line-height", 44, 36, 1);
        }
        & hr {
          @include adaptiv-value("margin-bottom", 25, 15, 1);
          &:first-of-type {
            @include adaptiv-value("margin-bottom", 20, 15, 1);
          }
        }
			}
		}
		// .product__slider
		&__slider {
			// .product__slider_big
			&_big {
        max-width: 411px;
        margin-bottom: 20px;
        @media (max-width: $md2+px) {
          margin: 0 auto 20px;
          width: 100%;
        }
			}
			// .product__slider_gallery
			&_gallery {
        max-width: 286px;
        margin: 0 auto;
        & .swiper-slide {
          border: 1px solid transparent;
        }
        & .swiper-slide-active {
          border: 1px solid #8B0304;
        }
			}
		}
		// .product__img-wrapper
		&__img-wrapper {
      padding-top: 100%;
      @media (max-width: $md4+px) {
        padding-top: 96.385%;
      }
		}
		// .product__callback-block
		&__callback-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border: 1px solid #EFF1F6;
      color: $mainColor;
      &:hover .product__callback-number {
        text-decoration: underline;
      }
      @media (max-width: $md4+px) {
        flex-direction: column;
        align-items: flex-start;
      }
		}
		// .product__callback-text
		&__callback-text {
      display: inline-flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      & span {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $additionalColor;
      }
      @media (max-width: $md4+px) {
        margin-bottom: 15px;
      }
		}
		// .product__callback-number
		&__callback-number {
      font-size: 20px;
      line-height: 24px;
		}
		// .product__category
		&__category {
      margin-bottom: 10px;
      @include adaptiv-font(10, 8, 1);
      line-height: 10px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $additionalColor;
		}
    // .product__info
		&__info {
      display: flex;
      align-items: center;
      gap: 20px;
      @include adaptiv-value("margin-bottom", 20, 35, 1);
    }
		// .product__status
		&__status {
      position: relative;
      padding-left: 13px;
      font-size: 14px;
      line-height: 17px;
      color: #E97509;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        width: 5px;
        height: 5px;
        background-color: #E97509;
        border-radius: 50%;
      }
		}
		// .product__marking
		&__marking {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.02em;
      color: $additionalColor;
		}
		// .product__form
		&__form {
		}
		// .product__form-line
		&__form-line {
		}
		// .product__thickness
		&__thickness {
      @include adaptiv-value("margin-bottom", 25, 15, 1);
      & span {
        @media (min-width: $md4+px) {
          margin-bottom: 15px;
        }
      }
      & input {
        display: none;
        &:checked + label {
          color: #fff;
          background-color: $accentColor;
        }
      }
      & label {
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiv-value("width", 74, 65, 1);
        @include adaptiv-value("height", 42, 37, 1);
        background: #F8F9FB;
        cursor: pointer;
        transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
        @media (any-hover: hover) {
        &:hover {
          color: #fff;
          background-color: $accentColor;
          }
        }
      }
      @media (max-width: $md4+px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
		}
    // .product__thickness-options
		&__thickness-options {
      display: flex;
      align-items: center;
      gap: 10px;
    }
		// .product__color
		&__color {
      @include adaptiv-value("margin-bottom", 25, 15, 1);
      & span {
        @media (min-width: $md4+px) {
          margin-bottom: 15px;
        }
      }
      & input {
        display: none;
        &:checked + label {
          border: 2px solid $accentColor;
          padding: 2px;
        }
      }
      & label {
        width: 30px;
        height: 30px;
        border: 2px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        & span {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        &.color_1 span {
          background: #BAB4AE;
        }
        &.color_2 span {
          background: #DECF51;
        }
        &.color_3 span {
          background: #6C6C6C;
        }
        &.color_4 span {
          background: #656BA3;
        }
        &.color_5 span {
          background: #6F7B20;
        }
      }
      @media (max-width: $md4+px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
		}
    // .product__color-options
		&__color-options {
      display: flex;
      align-items: center;
      @include adaptiv-value("gap", 15, 12, 1);
    }
		// .product__quantity
		&__quantity {
      display: inline-flex;
      @include adaptiv-value("margin-bottom", 25, 15, 1);
      & span {
        padding-left: 14px;
        font-weight: 600;
        @include adaptiv-font(20, 14, 0);
        line-height: 19px;
        color: $accentColor;
        @media (max-width: $md4+px) {
          padding-left: 26px;
        }
      }
		}
		// .product__weight
		&__weight {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include adaptiv-value("margin-bottom", 25, 15, 1);
      @media (min-width: $md4+px) {
        padding-right: 28px;
      }
		}
		// .product__weight-title
		&__weight-title {
      & span {
        font-weight: 400;
        padding-left: 18px;
        @include adaptiv-font(18, 14, 1);
        line-height: 22 / 18 * 100%;
      }
		}
		// .product__weight-span
		&__weight-span {
      font-size: 12px;
      line-height: 15px;
      color: $additionalColor;
		}
		// .product__submit-block
		&__submit-block {
      display: flex;
      align-items: center;
      @include adaptiv-value("padding-top", 25, 20, 1);
      @include adaptiv-value("padding-left", 30, 10, 1);
      @include adaptiv-value("padding-right", 30, 10, 1);
      @include adaptiv-value("padding-bottom", 25, 15, 1);
      background: rgba(239, 191, 191, 0.2);
      @media (max-width: $md4+px) {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
      }
		}
		// .product__price-title
		&__price-title {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      color: $mainColor;
      @include adaptiv-font(24, 20, 1);
      line-height: 29 / 24 * 100%;
      & span {
        font-size: 12px;
        line-height: 12px;
        color: $additionalColor;
      }
		}
		// .product__price
		&__price {
      display: flex;
      align-items: baseline;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px;
      color: $accentColor;
      padding-right: 20px;
      &::after {
        font-size: 23px;
        padding-left: 10px;
      }
      @media (max-width: $md4+px) {
        padding-right: 30px;
      }
		}
    // .product__btn
		&__btn {
      flex: 0 1 168px;
      margin-left: auto;
      padding: 22.5px 0;
      @media (max-width: $md4+px) {
        margin-top: 30px;
        flex: 0 0 100%;
      }
    }
		// .product__description
		&__description {
      @include adaptiv-value("padding-top", 50, 30, 1);
      @include adaptiv-value("padding-left", 94, 10, 1);
      @include adaptiv-value("padding-right", 94, 10, 1);
      @include adaptiv-value("padding-bottom", 60, 30, 1);
      // padding: 50px 94px 60px;
      background-color: #fff;
      & p {
        @include adaptiv-font(16, 14, 1);
        @include adaptiv-value("line-height", 24, 20, 1);
        &:not(:last-child) {
          @include adaptiv-value("margin-bottom", 30, 15, 1);
        }
      }
		}
}
.gallery-product {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 97px;
    @media (max-width: $md2+px) {
      margin: 0 auto;
      gap: 22px;
    }
    @media (max-width: $md4+px) {
      display: none;
    }
  }
  // .gallery-product__item
  &__list {
  }
  // .gallery-product__item
  &__item {
    height: 64px;
    width: 64px;
    cursor: pointer;
  }
		// .gallery-product__arrow
		&__arrow {
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 0.3s ease 0s;
      &:hover {
        border: 1px solid $accentColor;
        background-color: $accentColor;
        &:before {
          transition: all 0.3s ease 0s;
          color: #fff;
        }
      }
      &::before {
        font-size: 21px;
      }
			// .gallery-product__arrow_l
			&_prev {
			}
			// .gallery-product__arrow_r
			&_next {
        &::before {
          transform: rotate(180deg);
        }
			}
		}
}
//</ПРОДУКТ>===========================================================================
