//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "ProximaNova";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #1c1c1c;
$accentColor: #8b0304;
$additionalColor: #5b5d62;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: $md3+px) {
    padding: 0 8px;
  }
  // @media (max-width: $md1+px) {
  // 	max-width: 970px;
  // }
  // @media (max-width: $md2+px) {
  // 	max-width: 750px;
  // }
  // @media (max-width: $md3+px) {
  // 	max-width: none;
  // 	padding: 0 8px;
  // }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}
._bg-gray {
  background: #e5e5e5;
}
//======================================================================================
.main-slider {
  // .main-slider__content
  &__content {
  }
  // .main-slider__container
  &__container {
    display: flex;
    justify-content: flex-end;
  }
  // .main-slider__column
  &__column {
    // .main-slider__column_l
    &_l {
      flex: 0 0 570 / $maxWidth * 100%;
      padding-top: 45px;
      @include adaptiv-value("padding-bottom", 100, 15, 1);
      background-color: #fff;
    }
    // .main-slider__column_r
    &_r {
      z-index: 1;
      flex: 0 0 685 / 1400 * 100%;
      padding-top: 30.929%;
      &::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: url(../img/main-content/bg.svg) no-repeat 50% / cover;
        @media (max-width: $md3+px) {
          background-image: url(../img/main-content/bg_mobile.svg);
        }
      }
    }
  }
  // .main-slider__textarea
  &__textarea {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px;
  }
  // .main-slider__limited
  &__limited {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $accentColor;
  }
  // .main-slider__title
  &__title {
    margin-bottom: 20px;
  }
  // .main-slider__addinfo
  &__addinfo {
    margin-bottom: 30px;
    @include adaptiv-font(16, 14, 1);
    line-height: 22 / 16 * 100%;
    color: $additionalColor;
  }
  // .main-slider__btn-wrapper
  &__btn-wrapper {
    padding-top: 20px;
    width: 203px;
  }
  // .main-slider__btn
  &__btn {
  }
  // .main-slider__img
  &__img {
  }
  // .main-slider__pagination
  &__pagination {
    position: absolute;
    top: 95%;
    left: 10.35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 38px;
    height: 5px;
    & .swiper-pagination-bullet {
      display: block;
      height: 100%;
      width: 5px;
      border-radius: 50%;
      background-color:#C0C4CC;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &-active {
        background-color: $mainColor;
      }
    }
  }
}
//======================================================================================
.catalog-nav {
  // .catalog-nav__content
  &__content {
  }
  // .catalog-nav__nav
  &__nav {
    @include adaptiv-value("padding-top", 20, 10, 1);
    @include adaptiv-value("padding-bottom", 25, 15, 1);
  }
  // .catalog-nav__list
  &__list {
    display: grid;
    @include adaptiv-value("grid-auto-rows", 88, 63, 1);
    grid-template-columns: 255px 255px 255px 255px;
    @include adaptiv-value("grid-column-gap", 30, 0, 1);
    @media (max-width: $md1+px) {
      grid-template-columns: 1fr 1fr;
      @include adaptiv-value("grid-row-gap", 30, 5, 1);
    }
    @media (max-width: $md4+px) {
      grid-template-columns: 1fr;
    }
  }
  // .catalog-nav__item
  &__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 15px 0px 80px;
    font-weight: 600;
    @include adaptiv-font(16, 14, 1);
    line-height: 18 / 16 * 100%;
    color: $mainColor;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 15px 50%;
    @include adaptiv-value("background-size", 49, 39, 1);
    &_1 {
      background-image: url(../img/categories/Vibro-pressed-tiles.svg);
    }
    &_2 {
      background-image: url(../img/categories/Vibrating-tile.svg);
    }
    &_3 {
      background-image: url(../img/categories/Concrete-products.svg);
    }
    &_4 {
      background-image: url(../img/categories/Concrete-curbs.svg);
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 3px;
      background-color: $accentColor;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
  }
  &__link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
//======================================================================================
.popular {
  padding: 25px 0px;
		// .popular__content
		&__content {
      display: flex;
      flex-wrap: wrap;
		}
		// .popular__title
		&__title {
      flex: 1 0 auto;
		}
		// .popular__navigation
		&__navigation {
      flex: 0 0 95px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $md3+px) {
        order: 2;
        margin: 0 auto;
        flex: 0 0 105px;
      }
		}
    // .popular__arrow
    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: #fff;
          background-color: $accentColor;
        }
      }
      
      &::before {
        display: inline-block;
        font-size: 12px;
      }
      &_l {
      }
      &_r {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
		// .popular__swiper
		&__swiper {
      flex: 0 0 100%;
      overflow: hidden;
      @media (max-width: $md3+px) {
        order: 1;
        margin-bottom: 20px;
      }
		}
		// .popular__swiper-wrapper
		&__swiper-wrapper {
      display: flex;
		}
		// .popular__item
		&__item {
      // flex: 0 0 25%;
      display: flex;
      flex-direction: column;
      position: relative;
      min-width: 148px;
      min-height: 285px;
      padding: 8px 8px 20px 8px;
      background-color: #fff;
      color: $mainColor;
      @media (any-hover: hover) {
        &:hover .item-popular__btn {
          background-color: #fff;
          color: $accentColor;
          border: 1px solid $accentColor;
        }
      }
      @media (max-width: $md3+px) {
        padding: 5px 5px 10px 5px;
      }
		}
}

.item-popular {
		// .item-popular__img-wrapper
		&__img-wrapper {
      padding-top: 100%;
      // min-height: 239px;
		}
		// .item-popular__description-block
		&__description-block {
      display: inline-flex;
      flex-direction: column;
		}
		// .item-popular__category
		&__category {
      display: inline-block;
      margin-bottom: 10px;
      @include adaptiv-font(10, 8, 1);
      line-height: 10px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $accentColor;
		}
		// .item-popular__title
		&__title {
      overflow: hidden;
      word-break: break-word;
      margin-bottom: 60px;
		}
		// .item-popular__price
		&__price {
      position: absolute;
      @include adaptiv-value("bottom", 20, 10, 1);
      @include adaptiv-value("left", 15, 8, 1);
      display: flex;
      flex-direction: column;
      @include adaptiv-value("padding-right", 80, 45, 1);
      @include adaptiv-font(28, 24, 1);
      line-height: 28 / 28 * 100%;
      white-space: nowrap;
      // word-break: break-word;
		}
		// .item-popular__meter
		&__meter {
      @include adaptiv-value("padding-top", 5, 2, 1);
      @include adaptiv-font(12, 10, 1);
      line-height: 12px;
      color: $additionalColor;
		}
		// .item-popular__btn
		&__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      @include adaptiv-value("bottom", 21, 15, 1);
      @include adaptiv-value("right", 16, 10, 1);
      @include adaptiv-value("width", 43, 32, 1);
      @include adaptiv-value("height", 43, 32, 1);
      color: #fff;
      background-color: $accentColor;
      border: 1px solid $accentColor;
      transition: all 0.3s ease 0s;
      &::before {
        display: inline-block;
        font-size: 10px;
      }
		}
}
//======================================================================================
.main-services {
  padding-top: 25px;
  @include adaptiv-value("padding-bottom", 90, 15, 1);
		// .main-services__content
		&__content {
		}
		// .main-services__title
		&__title {
		}
		// .main-services__row
		&__row {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (min-width: $md3+px) {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
      }
		}
		// .main-services__item
		&__item {
      @media (min-width: $md3+px) {
        flex: 0 1 33.333%;
        max-width: 350px;
      }
      display: flex;
      flex-direction: column;
      @include adaptiv-value("padding-top", 10, 5, 1);
      @include adaptiv-value("padding-right", 10, 5, 1);
      @include adaptiv-value("padding-left", 10, 5, 1);
      @include adaptiv-value("padding-bottom", 25, 20, 1);
      background-color: #fff;
		}
}

.item-services {
		// .item-services__img-wrapper
		&__img-wrapper {
      padding-top: 45.455%;
      margin-bottom: 25px;
      @media (max-width: $md3+px) {
        margin-bottom: 30px;
      }
		}
		// .item-services__textarea
		&__textarea {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
		}
		// .item-services__title
		&__title {
      margin-bottom: 10px;
      @media (min-width: $md3+px) {
        padding-right: 20px;
      }
		}
		// .item-services__text
		&__text {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 22px;
		}
		// .item-services__link
		&__link {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin-top: auto;
      width: fit-content;
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $accentColor;
      @media (any-hover: hover) {
        &:hover {
          &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 1px;
            background-color: $accentColor;
          }
        }
      }
      &::after {
        padding-left: 8px;
        font-size: 8.5px;
      }
		}
}
//======================================================================================
.consultation {
  @include adaptiv-value("padding-top", 45, 15, 1);
  @include adaptiv-value("padding-bottom", 45, 25, 1);
		// .consultation__content
		&__content {
		}
		// .consultation__wrapper
		&__wrapper {
      @include adaptiv-value("padding-top", 60, 10, 1);
      @include adaptiv-value("padding-left", 65, 10, 1);
      @include adaptiv-value("padding-right", 65, 10, 1);
      @include adaptiv-value("padding-bottom", 35, 30, 1);
      background: #fff;
      border: 2px solid #8B0304;
      @media (max-width: $md4+px) {
        border-width: 1px;
      }
		}
		// .consultation__title
		&__title {
      margin-bottom: 55px;
		}
		// .consultation__list
		&__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // display: flex;
      @include adaptiv-value("gap", 40, 25, 1);
      @include adaptiv-value("margin-bottom", 55, 40, 1);
      @media (max-width: $md3+px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
      }
		}
		// .consultation__item
		&__item {
      // flex: 0 1 25%;
      @include adaptiv-value("padding-top", 80, 55, 1);
      text-align: center;
      @include adaptiv-font(16, 12, 1);
      line-height: 22 / 16 * 100%;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      background-size: auto;
      &_1 {
        background-image: url(../img/consultation/icon3.svg);
        @media (max-width: $md4+px) {
          background-image: url(../img/consultation/icon3_small.svg);
        }
      }
      &_2 {
        background-image: url(../img/consultation/icon1.svg);
        @media (max-width: $md4+px) {
          background-image: url(../img/consultation/icon1_small.svg);
        }
      }
      &_3 {
        background-image: url(../img/consultation/icon2.svg);
        @media (max-width: $md4+px) {
          background-image: url(../img/consultation/icon2_small.svg);
        }
      }
      &_4 {
        background-image: url(../img/consultation/icon4.svg);
        @media (max-width: $md4+px) {
          background-image: url(../img/consultation/icon4_small.svg);
        }
      }
		}
		// .consultation__call-wrapper
		&__call-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiv-value("gap", 80, 20, 1);
      @include adaptiv-value("padding-top", 55, 20, 1);
      @include adaptiv-value("padding-bottom", 80, 30, 1);
      @media (max-width: 488+px) {
        flex-direction: column;
      }
		}
		// .consultation__call-now
		&__call-now {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      @include adaptiv-font(24, 20, 1);
      line-height: 24px;
      & span {
        font-weight: 400;
        @include adaptiv-font(16, 14, 1);
        line-height: 16px;
        @media (max-width: $md3+px) {
          line-height: 22px;
        }
      }
      @media (max-width: 488+px) {
        text-align: center;
      }
		}
    // .consultation__number
    &__number {
      display: flex;
      align-items: center;
      @include adaptiv-value("gap", 24, 12.4, 1);
      @media (any-hover: hover) {
        &:hover > span {
            text-decoration: underline;
        }
      }
    }
		// .consultation__text
		&__text {
      text-align: center;
      @include adaptiv-font(14, 12, 1);
      line-height: 18 / 14 * 100%;
      color: $additionalColor;
		}
}
//======================================================================================
.video-container {
  @media (max-width: $md4+px) {
    padding: 0 8px;
  }
}
//======================================================================================
.form-section {
  @include adaptiv-value("padding-top", 90, 50, 1);
  @include adaptiv-value("padding-bottom", 90, 42, 1);
		// .form-section__content
		&__content {
		}
    // .form-section__body
		&__body {
      @include adaptiv-value("padding-top", 60, 30, 1);
      @include adaptiv-value("padding-bottom", 60, 30, 1);
      @include adaptiv-value("padding-left", 62, 15, 1);
      @include adaptiv-value("padding-right", 65, 15, 1);
      background-color: #fff;
      background-image: url(../img/form-section-bg.png);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: contain;
      border: 2px solid #CFD5E1;
      // @media (max-width: $md2+px) {
      //   background-position: 100% 22vh;
      // }
      // @media (max-width: $md4+px) {
      //   background-position: 100% 100%;
      //   background-size: 70%;
      // }
		}
		// .form-section__title
		&__title {
      margin-bottom: 10px;
      text-align: left;
		}
		// .form-section__sub-title
		&__sub-title {
      margin-bottom: 40px;
      @include adaptiv-font(20, 14, 1);
      @include adaptiv-value("line-height", 20, 18, 1);
		}
		// .form-section__form
		&__form {
      display: flex;
      flex-direction: column;
      @media (min-width: $md2+px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: none;
      }
      @media (max-width: $md2+px) {
        max-width: 50%;
        margin: 0 auto;
      }
      @media (max-width: $md3+px) {
        max-width: none;
      }
		}
		// .form-section__form-line
		&__form-line {
      @media (min-width: $md2+px) {
        flex: 0 0 350 / 980 * 100%;
      }
      @media (max-width: $md2+px) {
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 20px;
        }
      }
		}
		// .form-section__btn
		&__btn {
      @media (min-width: $md2+px) {
        flex: 0 0 220 / 980 * 100%;
      }
		}
}
//</ОСНОВНОЙ БЛОК>======================================================================
