//<ОСНОВНОЙ БЛОК>====================================================================================================
hr {
  background-color: #D2D6E1;
  width: 100%;
  height: 1px;
  &._pc-hidden {
    margin-bottom: 20px !important;
    @media (min-width: $md3+px) {
      display: none;
    }
  }
}
._hr {
  @media (max-width: $md3+px) {
    display: none;
  }
  &-fw {
    @media (min-width: $md3+px) {
      display: none;
    }
  }
  &-header {
    background-color: #EFF1F6;
  }
}
._h1 {
  @include adaptiv-font(40, 0, 1);
  @include adaptiv-value("line-height", 48, 0, 1);
  font-weight: 700;
  @media (max-width: $md4+px) {
    font-size: 24px;
    line-height: 32px;
  }
}
._h2 {
  @include adaptiv-value("margin-bottom", 30, 20, 1);
  @include adaptiv-font(28, 22, 1);
  line-height: 36 / 28 * 100%;
  font-weight: 700;
}
._h3 {
  @include adaptiv-font(24, 20, 1);
  line-height: 32 / 24 * 100%;
}
._h4 {
  @include adaptiv-font(18, 14, 1);
  line-height: 24 / 18 * 100%;
  font-weight: 600;
}
._h5 {
  font-weight: 600;
  @include adaptiv-font(28, 20, 1);
  line-height: 36 / 28 * 100%;
  text-align: center;
}
._h6 {
  @include adaptiv-font(28, 24, 1);
  @include adaptiv-value("line-height", 28, 29, 1);
}
//====================================================================================================
._messanger {
  display: block;
  width: 20.3px;
  height: 20.3px;
  border-radius: 50%;
  &._viber {
    background: #9069AE url(../img/icons/viber.svg) no-repeat 48% 55% / auto;
  }
  &._telegram {
    background: #429ADF url(../img/icons/telegram.svg) no-repeat 40% 55% / auto;
  }
}
._price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include adaptiv-value(padding-right, 15, 13, 1);
  background: url(../img/price.svg) no-repeat 50% 50% / contain;
  @include adaptiv-value(width, 125, 85, 1);
  @include adaptiv-value(height, 40, 33, 1);
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiv-font(16, 12, 1);
    color: $mainColor;
    font-weight: 600;
    &::before {
      @include adaptiv-value(margin-right, 10, 5, 1);
      @include adaptiv-font(13, 8, 1);
      color: $mainColor;
    }
  }
  & ._icon-price {
      @media (max-width: $md3+px) {
        display: none;
      }
  }
  & ._icon-price-s {
      @media (min-width: $md3+px) {
        display: none;
      }
  }
}
._price_wide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  flex: 0 0 188px;
  height: 40px;
  background: url(../img/price-wide.svg);
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $mainColor;
    &::before {
      margin-right: 10px;
      font-size: 13.5px;
    }
  }
}

._phone-number {
  margin-bottom: 15px;
  font-weight: 600;
  @include adaptiv-font(20, 16, 1);
  line-height: 20px;
  letter-spacing: 0.04em;
  color: $mainColor;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
  &._b {
    margin: 0;
  }
}

._slash {
  @extend ._phone-number;
  margin: 0 15px 0 20px;
  @media (min-width: $md4+px) {
    display: none;
  }
}

._bp {
  position: absolute;
  @include adaptiv-value("top", 36, 14, 1);
  @include adaptiv-value("right", 70, 14, 1);
  @include adaptiv-value("width", 149, 108, 1);
  @include adaptiv-value("height", 149, 108, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #92B115;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  &-text {
    @include adaptiv-value("width", 70, 48, 1);
    @include adaptiv-value("margin-left", -35, -25, 1);
    margin-bottom: 9px;
    font-weight: 700;
    @include adaptiv-font(18, 14, 1);
    line-height: 15px;
  }
  &-price {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    @include adaptiv-font(28, 24, 1);
    &::after {
      @include adaptiv-font(19, 15.5, 1);
      @include adaptiv-value("padding-left", 13, 5, 1);
    }
  }
  &-meter {
    @include adaptiv-value("margin-left", 5, 10, 1);
    @include adaptiv-font(12, 9, 1);
  }
}

._breadcrumbs {
  & ul {
    display: flex;
    align-items: center;
    @include adaptiv-value("padding-top", 15, 10, 1);
    @include adaptiv-value("padding-bottom", 20, 10, 1);
    white-space: nowrap;
    overflow: auto;
    & li {
      font-size: 12px;
      line-height: 15px;
      color: $mainColor;
      &:first-child {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      & a {
        color: $additionalColor;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

._phone-s {
  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    background-color: $accentColor;
  }
}

._criteria {
  display: inline-block;
  font-weight: 600;
  @include adaptiv-font(16, 14, 0);
  line-height: 19 / 16 * 100%;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.uah:after {
	content: "₴";
}
//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
  min-height: 211px;
	padding-bottom: 35.715%;
  .video-js,
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    object-fit: cover;
    object-position: 50% 55%;
	}
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    @include adaptiv-value("width", 94, 54, 0);
    @include adaptiv-value("height", 94, 54, 0);
    background: rgba(28, 28, 28, 0.8) url(../img/play.svg) no-repeat center/25%;
    backdrop-filter: blur(4px);
    @include adaptiv-value("border-radius", 27, 15, 0);
  }
}
//====================================================================================================
// ._more-block
._more-block {
}
// ._more-content
._more-content {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}
// ._more-item
._more-item {
}
// ._more-link
._more-link {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&._active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
#map {
	background: url("../img/icons/loading.gif") center / 50px no-repeat;
}
//====================================================================================================
._swiper {
	overflow: hidden;
  position: relative;
	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
.swiper-pagination {
}
.swiper-lazy-loading {
  background: url(../img/icons/loading.gif) no-repeat 50% / 25%;
}