@charset "UTF-8";

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:after,
[class*=" _icon-"]:after,
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

[class^=_icon-]:after,
[class*=" _icon-"]:after {
  display: block;
}

._icon-arrow_down:before {
  content: "";
}

._icon-arrow_down-after:after {
  content: "";
}

._icon-arrow_gallery:before {
  content: "";
}

._icon-arrow_detailed:before {
  content: "";
}

._icon-arrow_detailed-after:after {
  content: "";
}

._icon-arrow_paggination:before {
  content: "";
}

._icon-close:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-instagram:before {
  content: "";
}

._icon-phone:before {
  content: "";
}

._icon-price:before {
  content: "";
}

._icon-price-s:before {
  content: "";
}

._icon-S-logo:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "ProximaNova";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "ProximaNova";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #1c1c1c;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.form__line {
  margin-bottom: 10px;
}

.form__error {
  padding-top: 10px;
  color: #ee1212;
  font-size: 14px;
}

.form__label {
  font-size: 20px;
  line-height: 140%;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #8b0304;
  border: 1px solid #8b0304;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn._fw {
  width: 100%;
}

.btn._thickness {
  padding: 10px 15px;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  margin-top: 10px;
  padding: 15px 25px;
  border: 1px solid #D2D7E1;
  font-size: 16px;
  color: #5b5d62;
}

.input._focus {
  color: #1c1c1c;
}

.input._error {
  color: #ee1212;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

hr {
  background-color: #D2D6E1;
  width: 100%;
  height: 1px;
}

._hr-header {
  background-color: #EFF1F6;
}

._h1 {
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
}

._h2 {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 128.5714285714%;
  font-weight: 700;
}

._h3 {
  font-size: 24px;
  line-height: 133.3333333333%;
}

._h4 {
  font-size: 18px;
  line-height: 133.3333333333%;
  font-weight: 600;
}

._h5 {
  font-weight: 600;
  font-size: 28px;
  line-height: 128.5714285714%;
  text-align: center;
}

._price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  background: url(../img/price.svg) no-repeat 50% 50%/contain;
  width: 125px;
  height: 40px;
}

._price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 600;
}

._price-content::before {
  margin-right: 10px;
  font-size: 13px;
  color: #1c1c1c;
}

._price_wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
  height: 40px;
  background: url(../img/price-wide.svg);
}

._price_wide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #1c1c1c;
}

._price_wide-content::before {
  margin-right: 10px;
  font-size: 13.5px;
}

._phone-number,
._slash {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #1c1c1c;
}

._phone-number:hover,
._slash:hover {
  text-decoration: underline;
}

._slash {
  margin: 0 15px 0 20px;
}

._bp {
  position: absolute;
  top: 36px;
  right: 70px;
  width: 149px;
  height: 149px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #92B115;
  border-radius: 50%;
  color: #fff;
}

._bp-text {
  margin: 0px 0px 9px -35px;
  width: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
}

._bp-price {
  margin-left: 30px;
  font-size: 28px;
  line-height: 28px;
}

._bp-meter {
  margin-left: 5px;
  font-size: 12px;
  line-height: 12px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.uah:after {
  content: "₴";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header__menu {
  position: relative;
  min-height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.5614035088%;
          flex: 0 0 9.5614035088%;
  min-width: 80px;
  height: 50px;
  margin-right: calc(20px + 62 * ((100vw - 320px) / 1080));
  background: url(../img/icons/logo.svg) no-repeat 50% 50%/contain;
}

.menu__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__nav {
  display: none;
}

.menu__nav_footer-mobile {
  margin: 0 auto;
  padding: 0;
}

.menu__nav_footer-mobile ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu__nav_footer-mobile ul li {
  margin: 0px 35px 15px 0px;
  padding: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  padding: 0 10px;
}

.menu__item_footer {
  padding: 0 7.5px;
}

.menu__link {
  font-weight: 600;
  color: #1c1c1c;
}

.menu__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 378px;
          flex: 0 1 378px;
}

.menu__btn-menu {
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__btn-menu button {
  margin-right: 10px;
}

.menu__btn-menu label {
  font-weight: 600;
}

.lang-dropdown {
  cursor: pointer;
}

.lang-dropdown__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.lang-dropdown__btn::after {
  font-size: 4px;
  margin-left: 6px;
}

.lang-dropdown__list {
  display: none;
}

.lang-dropdown__link {
  color: #1c1c1c;
}

.menu-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu-info__link {
  color: #1c1c1c;
}

.menu-info__link_call {
  margin-bottom: 5px;
}

.menu-info__link_location {
  font-size: 14px;
  line-height: 14px;
}

.icon-menu {
  display: none;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 0 30px;
}

.footer__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 85px;
}

.footer__agree {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 42px;
}

.socials {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53px;
          flex: 0 0 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 105px;
}

.socials__link {
  color: #1c1c1c;
  font-size: 17px;
}

.socials__link_facebook {
  padding: 0 4px;
  margin-left: -4px;
}

.info-footer__column_callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30.701754386%;
          flex: 0 0 30.701754386%;
  min-width: 303px;
}

.info-footer__phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 75px;
}

.info-footer__mail {
  color: #5b5d62;
}

.info-footer__mail:hover {
  text-decoration: underline;
}

.info-footer__shop {
  margin-bottom: 16px;
  color: #5b5d62;
}

.info-footer__address {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 33px;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #1c1c1c;
}

.info-footer__address:hover {
  text-decoration: underline;
}

.info-footer__schedule {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5b5d62;
}

.info-footer__schedule p,
.info-footer__schedule span {
  font-size: 16px;
}

.info-footer__schedule span {
  margin-left: 26px;
  margin-right: 26px;
}

.agree-footer__link {
  font-size: 13px;
  color: #5b5d62;
}

.agree-footer__link:hover {
  text-decoration: underline;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._bg-gray {
  background: #e5e5e5;
}

.main-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-slider__container:not(:first-child) {
  display: none;
}

.main-slider__column_l {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.7142857143%;
          flex: 0 0 40.7142857143%;
  padding: 46px 0 100px;
}

.main-slider__column_r {
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.9285714286%;
          flex: 0 0 48.9285714286%;
  padding-top: 30.929%;
}

.main-slider__column_r::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(../img/main-content/bg.svg) no-repeat 50% 50%/cover;
}

.main-slider__textarea {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 60px;
}

.main-slider__limited {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #8b0304;
}

.main-slider__title {
  margin-bottom: 20px;
}

.main-slider__addinfo {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 137.5%;
  color: #5b5d62;
}

.main-slider__btn-wrapper {
  padding-top: 20px;
  width: 203px;
}

.catalog-nav__nav {
  padding-top: 20px;
  padding-bottom: 25px;
}

.catalog-nav__list {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 88px;
  -ms-grid-columns: 255px 255px 255px 255px;
  grid-template-columns: 255px 255px 255px 255px;
  grid-column-gap: 30px;
}

.catalog-nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px 0px 80px;
  font-weight: 600;
  font-size: 16px;
  line-height: 112.5%;
  color: #1c1c1c;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-size: 49px;
}

.catalog-nav__item_1 {
  background-image: url(../img/categories/Vibro-pressed-tiles.svg);
}

.catalog-nav__item_2 {
  background-image: url(../img/categories/Vibrating-tile.svg);
}

.catalog-nav__item_3 {
  background-image: url(../img/categories/Concrete-products.svg);
}

.catalog-nav__item_4 {
  background-image: url(../img/categories/Concrete-curbs.svg);
}

.catalog-nav__item:hover::before {
  opacity: 1;
}

.catalog-nav__item::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #8b0304;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.catalog-nav__link {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.popular {
  padding: 25px 0px;
}

.popular__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.popular__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95px;
          flex: 0 0 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popular__arrow::before {
  display: inline-block;
  font-size: 12px;
}

.popular__arrow_r::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popular__swiper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.popular__swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-width: 255px;
  max-width: 255px;
  min-height: 410px;
  max-height: 410px;
  padding: 8px 8px 85px 8px;
  background-color: #fff;
  color: #1c1c1c;
}

.item-popular__img-wrapper {
  padding-top: 100%;
}

.item-popular__description-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-popular__category {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #8b0304;
}

.item-popular__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  overflow: hidden;
  word-break: break-word;
}

.item-popular__price {
  position: absolute;
  bottom: 20px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 80px;
  font-size: 28px;
  line-height: 28px;
  word-break: break-word;
}

.item-popular__meter {
  padding-top: 5px;
  font-size: 12px;
  line-height: 12px;
  color: #5b5d62;
}

.item-popular__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 21px;
  right: 16px;
  width: 43px;
  height: 43px;
  color: #fff;
  background-color: #8b0304;
  border: 1px solid #8b0304;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-popular__btn::before {
  display: inline-block;
  font-size: 10px;
}

.main-services {
  padding: 25px 0 45px;
}

.main-services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 25px;
  background-color: #fff;
}

.item-services__img-wrapper {
  padding-top: 45.455%;
  margin-bottom: 25px;
}

.item-services__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item-services__title {
  margin-bottom: 10px;
}

.item-services__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 22px;
}

.item-services__link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b0304;
}

.item-services__link::after {
  padding-left: 8px;
  font-size: 8.5px;
}

.consultation {
  padding: 45px 0;
}

.consultation__wrapper {
  padding: 60px 65px 35px;
  background: #fff;
  border: 2px solid #8B0304;
}

.consultation__title {
  margin-bottom: 55px;
}

.consultation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: 55px;
}

.consultation__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-top: 80px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.consultation__item_1 {
  background-image: url(../img/catalog/icons/icon3.svg);
}

.consultation__item_2 {
  background-image: url(../img/catalog/icons/icon1.svg);
}

.consultation__item_3 {
  background-image: url(../img/catalog/icons/icon2.svg);
}

.consultation__item_4 {
  background-image: url(../img/catalog/icons/icon4.svg);
}

.consultation__call-wrapper {
  padding: 55px 0 80px;
}

@media (min-width: 479.98px) {
  ._slash {
    display: none;
  }

  .agree-footer__link:not(:last-child) {
    margin-right: 60px;
  }
}

@media (min-width: 767.98px) {
  ._hr-fw {
    display: none;
  }

  ._price ._icon-price-s {
    display: none;
  }

  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 39.4736842105%;
            flex: 0 0 39.4736842105%;
    margin-right: auto;
    padding-right: 10px;
  }

  .menu__nav_footer-mobile {
    display: none;
  }

  .menu__btn-menu {
    display: none;
  }

  .main-services__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }

  .main-services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    max-width: 350px;
  }

  .item-services__title {
    padding-right: 20px;
  }
}

@media (min-width: 839.98px) {
  .info-footer__schedule {
    position: absolute;
    left: 0;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .info-footer__column_location {
    margin-left: -130px;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    color: #8b0304;
    background-color: #fff;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1152px) {
  .catalog-nav__list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
  }
}

@media (max-width: 1152px) and (max-width: 1140px) {
  .catalog-nav__list {
    grid-row-gap: calc(5px + 25 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .form__label {
    font-size: calc(16px + 4 * ((100vw - 320px) / 820));
  }

  .btn {
    padding-top: calc(16px + 4 * ((100vw - 320px) / 820));
  }

  .btn {
    padding-bottom: calc(16px + 4 * ((100vw - 320px) / 820));
  }

  .input {
    font-size: calc(14px + 2 * ((100vw - 320px) / 820));
  }

  ._h1 {
    font-size: calc(24px + 16 * ((100vw - 320px) / 820));
  }

  ._h2 {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 820));
  }

  ._h2 {
    font-size: calc(22px + 6 * ((100vw - 320px) / 820));
  }

  ._h3 {
    font-size: calc(20px + 4 * ((100vw - 320px) / 820));
  }

  ._h4 {
    font-size: calc(14px + 4 * ((100vw - 320px) / 820));
  }

  ._h5 {
    font-size: calc(20px + 8 * ((100vw - 320px) / 820));
  }

  ._price {
    padding-right: calc(13px + 2 * ((100vw - 320px) / 820));
  }

  ._price {
    width: calc(85px + 40 * ((100vw - 320px) / 820));
  }

  ._price {
    height: calc(33px + 7 * ((100vw - 320px) / 820));
  }

  ._price-content {
    font-size: calc(12px + 4 * ((100vw - 320px) / 820));
  }

  ._price-content::before {
    margin-right: calc(5px + 5 * ((100vw - 320px) / 820));
  }

  ._price-content::before {
    font-size: calc(8px + 5 * ((100vw - 320px) / 820));
  }

  ._phone-number,
  ._slash {
    font-size: calc(16px + 4 * ((100vw - 320px) / 820));
  }

  .footer__info {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 820));
  }

  .footer__info {
    padding-bottom: calc(50px + 35 * ((100vw - 320px) / 820));
  }

  .info-footer__shop {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 820));
  }

  .info-footer__address {
    margin-bottom: calc(20px + 13 * ((100vw - 320px) / 820));
  }

  .info-footer__address {
    font-size: calc(16px + 4 * ((100vw - 320px) / 820));
  }

  .info-footer__schedule p,
  .info-footer__schedule span {
    font-size: calc(14px + 2 * ((100vw - 320px) / 820));
  }

  .info-footer__schedule span {
    margin-left: calc(10px + 16 * ((100vw - 320px) / 820));
  }

  .info-footer__schedule span {
    margin-right: calc(10px + 16 * ((100vw - 320px) / 820));
  }

  .agree-footer__link {
    font-size: calc(10px + 3 * ((100vw - 320px) / 820));
  }

  .main-slider__addinfo {
    font-size: calc(14px + 2 * ((100vw - 320px) / 820));
  }

  .catalog-nav__nav {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  .catalog-nav__nav {
    padding-bottom: calc(15px + 10 * ((100vw - 320px) / 820));
  }

  .catalog-nav__list {
    grid-auto-rows: calc(63px + 25 * ((100vw - 320px) / 820));
  }

  .catalog-nav__list {
    grid-column-gap: calc(0px + 30 * ((100vw - 320px) / 820));
  }

  .catalog-nav__item {
    font-size: calc(14px + 2 * ((100vw - 320px) / 820));
  }

  .catalog-nav__item {
    background-size: calc(39px + 10 * ((100vw - 320px) / 820));
  }

  .item-popular__category {
    font-size: calc(8px + 2 * ((100vw - 320px) / 820));
  }

  .main-services__item {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 820));
  }

  .main-services__item {
    padding-right: calc(5px + 5 * ((100vw - 320px) / 820));
  }

  .main-services__item {
    padding-left: calc(5px + 5 * ((100vw - 320px) / 820));
  }

  .main-services__item {
    padding-bottom: calc(20px + 5 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .menu__logo_footer {
    margin-right: 15px;
  }

  .menu__info-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .menu__lang-dropdown {
    display: none;
  }

  .menu__info {
    display: none;
  }

  .socials {
    display: none;
  }
}

@media (max-width: 839.98px) {
  .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-footer__column_contacts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .info-footer__column_location {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .info-footer__column_callback {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .info-footer__phone-wrapper {
    margin-bottom: 15px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    padding: 0 8px;
  }

  ._hr {
    display: none;
  }

  ._price ._icon-price {
    display: none;
  }

  .header__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 74px;
  }

  .menu__body {
    display: block !important;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__body ul {
    display: block;
    padding: 74px 30px 50px;
    text-align: center;
  }

  .menu__body ul li {
    padding: 15px 0;
  }

  .menu__nav_footer-mobile {
    display: block;
  }

  .menu__info-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 15px;
    height: 8px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: -1px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: -1px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__menu {
    padding: 30px 0;
  }

  .main-slider__column_r::before {
    background-image: url(../img/main-content/bg_mobile.svg);
  }

  .item-services__img-wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  .footer__agree {
    min-height: 65px;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .info-footer__column_contacts {
    margin-bottom: 30px;
  }

  .info-footer__column_location {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .info-footer__column_callback {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .info-footer__phone-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }

  .info-footer__schedule {
    margin-bottom: 50px;
  }

  .info-footer__schedule p:nth-of-type(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 0;
  }

  .info-footer__schedule p,
  .info-footer__schedule span {
    margin-bottom: 15px;
  }

  .info-footer__schedule span:nth-of-type(2) {
    display: none;
  }

  .agree-footer__link:first-child {
    margin-right: 33px;
  }

  .agree-footer__link:not(:last-child) {
    margin-bottom: 10px;
  }

  .agree-footer__link_mailing {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .catalog-nav__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .menu__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (min-width: 479.98px) and (max-width: 1140px) {
  .agree-footer__link:not(:last-child) {
    margin-right: calc(33px + 27 * ((100vw - 320px) / 820));
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }

  .menu-info__link:hover {
    text-decoration: underline;
  }

  .socials__link:hover {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
  }

  .popular__arrow:hover {
    color: #fff;
    background-color: #8b0304;
  }

  .popular__item:hover .item-popular__btn {
    background-color: #fff;
    color: #8b0304;
    border: 1px solid #8b0304;
  }

  .item-services__link:hover::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #8b0304;
  }
}